.grid {
	display: grid;
	grid-template-areas: "title title"
						 "dados dd"
						 "permissoes permissoes"
						 "info bb"
						 "defi ff"
						 "juri juri"
						 "footer footer";
	grid-row-gap: 20px;
	background-color: ;
}

.title {
	grid-area: title;
	text-align: center;
}

h2{
	text-align: center;
}

.dados {
	grid-area: dados;
	padding: 20px 25px 20px 20px;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.dd {
	grid-area: dd;
	padding: 20px 20px 20px 25px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.permissoes {
	grid-area: permissoes;
	border: 1px solid black;
	padding: 10px 10px;
	border-radius: 15px;
	text-align: center;
	background-color: lightgrey;
	color: black;
}

.info {
	grid-area: info;
	padding: 20px 25px 20px 20px;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.bb {
	grid-area: bb;
	padding: 20px 20px 20px 25px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.defi {
	grid-area: defi;
	padding: 20px 25px 20px 20px;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.juri {
	grid-area: juri;
	text-align: center;
}

.ff {
	grid-area: ff;
	padding: 20px 20px 20px 25px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.footer {
	grid-area: footer;
	text-align: center;

}

body {
	margin-right: 50px;
	margin-left: 50px;
	font-family: 'Open Sans', sans-serif;
}

